<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/common/headerAdmin :: head('Chi tiết về blog ' + ${fishBlog.fishName})"></head>
<head>
    <link rel="stylesheet" th:href="@{/css/admin/detailsFishBlogStyle.css}">
</head>
<body>

    <!-- Header -->
    <header th:replace="~{admin/common/headerAdmin :: headerAdmin-html}"></header>

    <!-- Main Content -->
    <main class="main p-3">

        <!-- blog Details Section -->
        <section id="blog-details" class="blog-details section">

            <div class="container" data-aos="fade-up">

                <div class="blog-details-slider swiper init-swiper">
                    <div class="swiper-wrapper align-items-center">
                        <div class="swiper-slide">
                            <img th:src="${fishBlog.thumbnailUrl}"  alt="">
                        </div>
                    </div>
                </div>

                <div class="row justify-content-between gy-4 mt-4">

                    <div class="col-lg-8" data-aos="fade-up">
                        <div class="blog-description">
                            <h2 th:text="${fishBlog.fishName}"></h2>
                            <div th:utext="${fishBlog.contentBlog}"></div>
                        </div>
                    </div>

                    <div class="col-lg-3" data-aos="fade-up" data-aos-delay="100">
                        <div class="blog-info">
                            <h3>Thông tin bài viết</h3>
                            <ul>
                                <li>
                                    <strong>Loại cá cảnh</strong>
                                    <a th:href="@{'/admin/details-kindFish/' + ${fishBlog.kindFishId}}" th:text="${kindFishName}"></a>
                                </li>
                                <li>
                                    <strong>Ngày tạo bài viết</strong>
                                    <span th:text="${#dates.format(fishBlog.createdDate, 'dd/MM/yyyy')}"></span>
                                </li>
                                <li>
                                    <strong>Ngày chỉnh sửa bài viết</strong>
                                    <span th:text="${#dates.format(fishBlog.modifiedDate, 'dd/MM/yyyy')}"></span>
                                </li>
                                <li>
                                    <a th:href="@{'/admin/update-fishBlog/' + ${fishBlog.id}}" class="btn btn-outline-warning btn-block w-100">Cập nhật bài viết</a>
                                </li>
                                <li>
                                    <form th:action="@{'/admin/delete-fishBlog/' + ${fishBlog.id}}" method="post" style="display: inline;">
                                        <input type="hidden" name="_method" value="delete"/>
                                        <button type="submit" class="btn btn-outline-danger btn-block w-100"
                                                onclick="return confirm('Bạn có chắc chắn muốn xoá bài viết?')">Xóa bài viết</button>
                                    </form>
                                </li>
                                <li>
                                    <a th:href="@{/admin/fishBlogs-management}" class="btn btn-info btn-block w-100">Trở về danh sách các bài viết</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>

        </section><!-- /blog Details Section -->

    </main>

    <!-- Footer -->
    <footer th:replace="~{admin/common/footerAdmin :: footerAdmin-html}"></footer>

</body>
</html>