<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Kind of Fishes</title>
</head>
<head th:replace="~{user/common/header :: headUserPage-html}"></head>
<body class="index-page">
    <header th:replace="~{user/common/header :: headerUserPage-html}"></header>

    <main class="main">
        <!-- Kind Fishes Category Section -->
        <section id="lifestyle-category" class="lifestyle-category section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <div class="section-title-container d-flex align-items-center justify-content-between">
                    <h2>Kind Fishes</h2>
                </div>
            </div><!-- End Section Title -->

            <!-- LIST KIND OF FISH -->
            <div class="container mt-0" data-aos="fade-up" data-aos-delay="100">

                <div class="d-flex justify-content-center align-items-center" th:if="${#lists.isEmpty(listKindFish)}">
                    <h3>List kind of fish is empty!</h3>
                </div>

                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4" th:unless="${#lists.isEmpty(listKindFish)}">
                    <div class="col" th:each="kindFish : ${listKindFish}">
                        <div class="card h-100 shadow-sm">
                            <div class="post-meta" style="padding: 5px; padding-left: 10px;">
                                <!--                                <span class="date" style="margin-right: 5px">Created date</span> <span class="mx-1">•</span> <span th:text="${#dates.format(kindFish.createdDate, 'dd/MM/yyyy')}"></span>-->
                                <!--                                <br>-->
                                <span class="date">Modified date</span> <span class="mx-1">•</span> <span th:text="${#dates.format(kindFish.modifiedDate, 'dd/MM/yyyy')}"></span>
                            </div>
                            <a th:href="@{'/details-kindFish/' + ${kindFish.id}}">
                                <img th:src="${kindFish.imageUrl}" height="220px" class="card-img-top" alt="Fish Image">
                            </a>
                            <div class="card-body">
                                <h3 class="card-title">
                                    <a th:href="@{'/details-kindFish/' + ${kindFish.id}}" th:text="${kindFish.kindFishName}"></a>
                                </h3>
                                <div class="card-text"
                                     th:utext="${#strings.length(kindFish.description) > 100
                                                    ? #strings.substring(kindFish.description, 0, 100) + ' ...'
                                                    : kindFish.description}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pagination -->
            <div class="d-flex justify-content-center mt-4" th:if="${totalPages > 1}">
                <nav>
                    <ul class="pagination">

                        <!-- Button Previous -->
                        <li th:classappend="${currentPage == 0} ? 'disabled'" class="page-item">
                            <a class="page-link" th:href="@{'/kind-fishes'(page=${currentPage - 1})}">Previous</a>
                        </li>

                        <!-- Numbers of page -->
                        <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
                            th:classappend="${i == currentPage} ? 'active'">
                            <a class="page-link" th:href="@{'/kind-fishes'(page=${i})}" th:text="${i + 1}"></a>
                        </li>

                        <!-- Button Next -->
                        <li th:classappend="${currentPage + 1 == totalPages} ? 'disabled'" class="page-item">
                            <a class="page-link" th:href="@{'/kind-fishes'(page=${currentPage + 1})}">Next</a>
                        </li>

                    </ul>
                </nav>
            </div><!-- /Pagination -->

        </section><!-- /Kind Fishes Category Section -->
    </main>

    <footer th:replace="~{user/common/footer :: footerUserPage-html}"></footer>
</body>
</html>