<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="user/common/header :: headUserPage-html(~{::title})">
    <title>Fish Blog Home</title>
</head>
<body class="index-page">
    <header th:replace="~{user/common/header :: headerUserPage-html}"></header>

    <main class="main">

        <!-- Kind Fishes Category Section -->
        <section id="lifestyle-category" class="lifestyle-category section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <div class="section-title-container d-flex align-items-center justify-content-between">
                    <h2>Kind Fishes</h2>
                    <p><a th:href="@{/kind-fishes}">See All Kind Fishes</a></p>
                </div>
            </div><!-- End Section Title -->

            <!-- LIST KIND OF FISH -->
            <div class="container mt-0" data-aos="fade-up" data-aos-delay="100">

                <div class="d-flex justify-content-center align-items-center" th:if="${#lists.isEmpty(listKindFish)}">
                    <h3>List kind of fish is empty!</h3>
                </div>

                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4" th:unless="${#lists.isEmpty(listKindFish)}">
                    <div class="col" th:each="kindFish : ${listKindFish}">
                        <div class="card h-100 shadow-sm">
                            <div class="post-meta" style="padding: 5px; padding-left: 10px;">
<!--                                <span class="date" style="margin-right: 5px">Created date</span> <span class="mx-1">•</span> <span th:text="${#dates.format(kindFish.createdDate, 'dd/MM/yyyy')}"></span>-->
<!--                                <br>-->
                                <span class="date">Modified date</span> <span class="mx-1">•</span> <span th:text="${#dates.format(kindFish.modifiedDate, 'dd/MM/yyyy')}"></span>
                            </div>
                            <a th:href="@{'/details-kindFish/' + ${kindFish.id}}">
                                <img th:src="${kindFish.imageUrl}" style="height:220px; object-fit:cover;" class="card-img-top" alt="Fish Image">
                            </a>
                            <div class="card-body">
                                <h3 class="card-title">
                                    <a th:href="@{'/details-kindFish/' + ${kindFish.id}}" th:text="${kindFish.kindFishName}"></a>
                                </h3>
                                <div class="card-text"  style="text-align: justify;"
                                     th:utext="${#strings.length(kindFish.description) > 300
                                                    ? #strings.substring(kindFish.description, 0, 300) + ' ...'
                                                    : kindFish.description}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section><!-- /Kind Fishes Category Section -->

        <!-- Aquatic plants Category Section -->
        <section id="culture-category" class="culture-category section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <div class="section-title-container d-flex align-items-center justify-content-between">
                    <h2>Aquatic plants</h2>
                    <p><a href="">See All Aquatic plants</a></p>
                </div>
            </div><!-- End Section Title -->

            <div class="container" data-aos="fade-up" data-aos-delay="100">

                <div class="d-flex justify-content-center align-items-center" th:if="${#lists.isEmpty(listAquaticPlants)}">
                    <h3>List Aquatic plants is empty!</h3>
                </div>

                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4" th:unless="${#lists.isEmpty(listAquaticPlants)}">
                </div>

            </div>

        </section><!-- /Aquatic plants Category Section -->

        <!-- Set up tank Category Section -->
        <section id="business-category" class="business-category section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <div class="section-title-container d-flex align-items-center justify-content-between">
                    <h2>Set up tank</h2>
                    <p><a href="">See All Set up tank</a></p>
                </div>
            </div><!-- End Section Title -->

            <div class="container" data-aos="fade-up" data-aos-delay="100">

                <div class="d-flex justify-content-center align-items-center" th:if="${#lists.isEmpty(listSetUpTank)}">
                    <h3>List Set up tank is empty!</h3>
                </div>

                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4" th:unless="${#lists.isEmpty(listSetUpTank)}">
                </div>

            </div>

        </section><!-- /Set up tank Category Section -->
        
    </main>

    <footer th:replace="~{user/common/footer :: footerUserPage-html}"></footer>
</body>
</html>