<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="user/common/header :: headUserPage-html(~{::title})">
    <title th:text="'Chi tiết về ' + ${kindFish.kindFishName}"></title>
</head>
<body class="index-page">
    <header th:replace="~{user/common/header :: headerUserPage-html}"></header>

    <main class="main">

        <!-- Kind Fish Section -->
        <section id="lifestyle-category" class="lifestyle-category section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <div class="section-title-container d-flex align-items-center justify-content-between">
                    <h2 th:text="${kindFish.kindFishName}"></h2>
                    <p>
                        <span class="date">Ngày chỉnh sửa</span> <span class="mx-1">•</span> <span th:text="${#dates.format(kindFish.modifiedDate, 'dd/MM/yyyy')}"></span>
                    </p>
                </div>
            </div><!-- End Section Title -->

            <!-- KIND OF FISH -->
            <div class="container mt-0" data-aos="fade-up" data-aos-delay="100">
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 g-4">
                    <div class="col">
                        <img th:src="${kindFish.imageUrl}" height="300px" class="img-fluid" alt="Fish Image">
                    </div>
                    <div class="col">
                        <div class="fs-5" style="text-align: justify; text-indent: 2em;" th:utext="${kindFish.description}"></div>
                    </div>
                </div>
            </div>

        </section><!-- /Kind Fish Section -->

        <!-- Blogs of kind fish Section -->
        <section id="business-category" class="business-category section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <div class="section-title-container d-flex align-items-center justify-content-between">
                    <h2>Các bài viết liên quan</h2>
                </div>
            </div><!-- End Section Title -->

            <div class="container" data-aos="fade-up" data-aos-delay="100">

                <div class="d-flex justify-content-center align-items-center" th:if="${#lists.isEmpty(listFishBlogsPage)}">
                    <h3 th:text="'Các bài viết liên quan ' + ${kindFish.kindFishName} + ' trống!'"></h3>
                </div>

                <div th:unless="${#lists.isEmpty(listFishBlogsPage)}" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col" th:each="fishBlog : ${listFishBlogsPage}">
                        <div class="card shadow-sm">
                            <img th:src="${fishBlog.thumbnailUrl}" class="card-img-top img-fluid" width="100%" height="225" alt="Thumbnail Blog">
                            <div class="card-body">
                                <p class="card-text fw-bold fs-4" th:text="${fishBlog.fishName}"></p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group p-2">
                                        <a th:href="${fishBlog.thumbnailUrl}" th:title="${fishBlog.fishName}"  data-gallery="blogs-gallery-app" class="glightbox preview-link me-2">
                                            <i class="fa-solid fa-magnifying-glass"></i>
                                        </a>
                                        <a th:href="@{'/details-fishBlog/' + ${fishBlog.id}}" title="More Details" class="details-link">
                                            <i class="fa-solid fa-link"></i>
                                        </a>
                                    </div>
                                    <small class="text-muted"
                                           th:text="'Ngày chỉnh sửa • ' + ${#dates.format(fishBlog.modifiedDate, 'dd/MM/yyyy')}"></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Pagination -->
            <div class="d-flex justify-content-center mt-4" th:if="${totalPages > 1}">
                <nav>
                    <ul class="pagination">

                        <!-- Button Previous -->
                        <li th:classappend="${currentPage == 0} ? 'disabled'" class="page-item">
                            <a class="page-link"
                               th:href="@{'/details-kindFish/' + ${kindFishId} + '(page=' + (${currentPage} - 1) + ')'}">Trước</a>
                        </li>

                        <!-- Numbers of page -->
                        <li class="page-item"
                            th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
                            th:classappend="${i == currentPage} ? 'active'">
                            <a class="page-link"
                               th:href="@{'/details-kindFish/' + ${kindFishId} + '(page=' + ${i} + ')'}"
                               th:text="${i + 1}"></a>
                        </li>

                        <!-- Button Next -->
                        <li th:classappend="${currentPage + 1 == totalPages} ? 'disabled'" class="page-item">
                            <a class="page-link"
                               th:href="@{'/details-kindFish/' + ${kindFishId} + '(page=' + (${currentPage} + 1) + ')'}">Tiếp theo</a>
                        </li>

                    </ul>
                </nav>
            </div><!-- /Pagination -->


        </section><!-- /Blogs of kind fish Section -->

    </main>

    <footer th:replace="~{user/common/footer :: footerUserPage-html}"></footer>
    <script th:src="@{/js/admin/listFishBlogs.js}"></script>
</body>
</html>