/*--------------------------------------------------------------
# blog Details Section
--------------------------------------------------------------*/
.blog-details .blog-details-slider img {
  width: 100%;
}

.blog-details .swiper-wrapper {
  height: auto;
}

.blog-details .blog-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.blog-details .blog-info h3:after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: var(--accent-color);
  left: 0;
  bottom: 0;
}

.blog-details .blog-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.blog-details .blog-info ul li {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
}

.blog-details .blog-info ul strong {
  text-transform: uppercase;
  font-weight: 400;
  color: color-mix(in srgb, var(--default-color), transparent 50%);
  font-size: 14px;
}

.blog-details .blog-info .btn-visit {
  padding: 8px 40px;
  background: var(--accent-color);
  color: var(--contrast-color);
  border-radius: 50px;
  transition: 0.3s;
}

.blog-details .blog-info .btn-visit:hover {
  background: color-mix(in srgb, var(--accent-color), transparent 20%);
}

.blog-details .blog-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.blog-details .blog-description p {
  padding: 0;
}

.blog-details .blog-description .testimonial-item {
  padding: 30px 30px 0 30px;
  position: relative;
  background: color-mix(in srgb, var(--default-color), transparent 97%);
  margin-bottom: 50px;
}

.blog-details .blog-description .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 50px;
  border: 6px solid var(--background-color);
  float: left;
  margin: 0 10px 0 0;
}

.blog-details .blog-description .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 15px 0 5px 0;
  padding-top: 20px;
}

.blog-details .blog-description .testimonial-item h4 {
  font-size: 14px;
  color: #6c757d;
  margin: 0;
}

.blog-details .blog-description .testimonial-item .quote-icon-left,
.blog-details .blog-description .testimonial-item .quote-icon-right {
  color: color-mix(in srgb, var(--accent-color), transparent 50%);
  font-size: 26px;
  line-height: 0;
}

.blog-details .blog-description .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.blog-details .blog-description .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
  transform: scale(-1, -1);
}

.blog-details .blog-description .testimonial-item p {
  font-style: italic;
  margin: 0 0 15px 0 0 0;
  padding: 0;
}