.green-bg {
    background-color: #d5f5dc;
}
img {
    max-width: 100%;
}
img {
    vertical-align: middle;
    border-style: none;
}
/* About Me
---------------------*/
.about-text h3 {
  font-size: 45px;
  font-weight: 700;
  margin: 0 0 6px;
}
@media (max-width: 767px) {
  .about-text h3 {
    font-size: 35px;
  }
}
.about-text h6 {
  font-weight: 600;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .about-text h6 {
    font-size: 18px;
  }
}
.about-text p {
  font-size: 18px;
  max-width: 450px;
}

.about-list {
  padding-top: 10px;
}

@media (max-width: 991px) {
  .about-avatar {
    margin-top: 30px;
  }
}

.theme-color {
    color: #fc5356;
}
.dark-color {
    color: #20247b;
}