<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>409 ERROR</title>
</head>
<head th:replace="~{user/common/header :: headUserPage-html}"></head>
<body>
    <div class="d-flex flex-column justify-content-around align-items-center p-4">
        <div class="m-4">
            <img th:src="@{/img/409.png}" height="400px" width="400px" alt="409 ERROR" srcset="">
        </div>
        <h4 th:text="${message}"></h4>
    </div>
</body>
</html>