<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer th:fragment="footerUserPage-html" id="footer" class="footer dark-background">

    <div class="container footer-top">
        <div class="row gy-4">
            <div class="col-lg-4 col-md-6 footer-about">
                <a th:href="@{/}" class="logo d-flex align-items-center">
                    <span class="sitename">FishBlog</span>
                </a>
                <div class="footer-contact pt-3">
                    <p>Thành phố Hồ Chí Minh, Việt Nam</p>
                    <p class="mt-3"><strong>Điện thoại:</strong> <span>0395373389</span></p>
                    <p><strong>Email:</strong> <span>nguyenluan0101020@gmail.com</span></p>
                </div>
                <div class="social-links d-flex mt-4">
                    <a th:href="@{#}"><i class="bi bi-twitter-x"></i></a>
                    <a th:href="@{#}"><i class="bi bi-facebook"></i></a>
                    <a th:href="@{#}"><i class="bi bi-instagram"></i></a>
                    <a th:href="@{#}"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>

            <div class="col-lg-2 col-md-3 footer-links">
                <h4>Chuyển trang nhanh</h4>
                <ul>
                    <li><a th:href="@{/}">Trang chủ</a></li>
                    <li><a th:href="@{/introduce}">Giới thiệu</a></li>
                    <li><a th:href="@{/contact}">Liên hệ</a></li>
                    <li><a th:href="@{/fish-blogs}">Bài viết</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-md-3 footer-links">
                <h4>Bài viết</h4>
                <ul>
                    <li><a th:href="@{/kind-fishes}">Loại cá cảnh</a></li>
                    <li><a th:href="@{#}">Cây thủy sinh</a></li>
                    <li><a th:href="@{#}">Bố trí bể cá</a></li>
                </ul>
            </div>

        </div>
    </div>

    <div class="container copyright text-center mt-4">
        <p>© <span>Copyright</span> <strong class="px-1 sitename">FishBlog</strong> <span>All Rights Reserved</span></p>
        <div class="credits">
            Designed by BootstrapMade | Distributed by ThemeWagon
        </div>
    </div>

    <!-- Scroll Top -->
    <a th:href="@{#}" id="scroll-top" class="scroll-top bg-success d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Preloader -->
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/vendor/aos/aos.js}"></script>
    <script th:src="@{/vendor/swiper/swiper-bundle.min.js}"></script>

    <!-- Main JS File -->
    <script th:src="@{/js/user/main.js}"></script>

    <!-- AOS -->
    <link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>

    <!-- Isotope & imagesLoaded -->
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>

    <!-- GLightbox -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css">
    <script src="https://cdn.jsdelivr.net/npm/glightbox/dist/js/glightbox.min.js"></script>

</footer>
</body>
</html>