<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headUserPage-html(title)">
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title th:replace="${title}">Header</title>

    <!-- Favicons -->

    <!-- Fonts -->
    <link th:href="@{https://fonts.googleapis.com}" rel="preconnect">
    <link th:href="@{https://fonts.gstatic.com}" rel="preconnect" crossorigin>
    <link th:href="@{https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap}" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link th:href="@{/vendor/aos/aos.css}" rel="stylesheet">
    <link th:href="@{/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">

    <!-- Main CSS File -->
    <link th:href="@{/css/user/main.css}" rel="stylesheet">
</head>
<body>
<header th:fragment="headerUserPage-html" id="header" class="header bg-success-subtle d-flex align-items-center sticky-top">
    <div class="container position-relative d-flex align-items-center justify-content-between">

        <a th:href="@{/}" class="logo d-flex align-items-center me-auto me-xl-0">
            <!-- Uncomment the line below if you also wish to use an image logo -->
             <img class="rounded-circle" th:src="@{/img/logo.png}" alt="Logo FishBlog">
            <h1 class="sitename">FishBlog</h1>
        </a>

        <nav id="navmenu" class="navmenu">
            <ul>
                <li><a th:href="@{/}" class="active">Trang chủ</a></li>
                <li><a th:href="@{/introduce}">Giới thiệu</a></li>
                <li><a th:href="@{#}">Bài viết</a></li>
                <li class="dropdown"><a th:href="@{#}"><span>Thể loại</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                    <ul>
                        <li><a th:href="@{/kind-fishes}">Loại cá cảnh</a></li>
                        <li class="dropdown"><a th:href="@{#}"><span>Thủy sinh</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                            <ul>
                                <li><a th:href="@{#}">Cây thủy sinh</a></li>
                                <li><a th:href="@{#}">Bố trí bể cá</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a th:href="@{/contact}">Liên hệ</a></li>
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

        <div class="header-social-links" th:if="${session.user} == null">
            <a th:href="@{/login}" class="link-success">ĐĂNG NHẬP</a>
            <a th:href="@{/register}" class="link-danger">ĐĂNG KÝ</a>
        </div>

        <div class="header-social-links" th:unless="${session.user} == null">
            <div class="dropdown me-3">
                <button th:text="${session.user.userName}" class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"></button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" th:href="@{/admin/profile}">Tài khoản</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <a class="dropdown-item" th:href="@{/logout}">Đăng xuất</a>
                    </li>
                </ul>
            </div>

            <img th:if="${session.user.avatarUrl} == null" th:src="@{/img/avatar_user.png}" alt="avatar user" class="avatar me-3">
            <img th:unless="${session.user.avatarUrl} == null" th:src="@{${session.user.avatarUrl}}" alt="avatar user" class="avatar me-3">
        </div>

    </div>
</header>
</body>
</html>